<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>arrow.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{69,9}</string>
                <key>spriteSourceSize</key>
                <string>{69,9}</string>
                <key>textureRect</key>
                <string>{{514,0},{69,9}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>blueBird1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,32}</string>
                <key>spriteSourceSize</key>
                <string>{32,32}</string>
                <key>textureRect</key>
                <string>{{290,0},{32,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>blueBird2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,32}</string>
                <key>spriteSourceSize</key>
                <string>{32,32}</string>
                <key>textureRect</key>
                <string>{{354,0},{32,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>blueBird3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,32}</string>
                <key>spriteSourceSize</key>
                <string>{32,32}</string>
                <key>textureRect</key>
                <string>{{386,0},{32,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>blueBird4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,32}</string>
                <key>spriteSourceSize</key>
                <string>{32,32}</string>
                <key>textureRect</key>
                <string>{{450,0},{32,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dot.bmp</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{2,2}</string>
                <key>spriteSourceSize</key>
                <string>{2,2}</string>
                <key>textureRect</key>
                <string>{{0,0},{2,2}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>grayBird1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,32}</string>
                <key>spriteSourceSize</key>
                <string>{32,32}</string>
                <key>textureRect</key>
                <string>{{482,0},{32,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>grayBird2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,32}</string>
                <key>spriteSourceSize</key>
                <string>{32,32}</string>
                <key>textureRect</key>
                <string>{{418,0},{32,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>grayBird3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,32}</string>
                <key>spriteSourceSize</key>
                <string>{32,32}</string>
                <key>textureRect</key>
                <string>{{226,0},{32,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>grayBird4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,32}</string>
                <key>spriteSourceSize</key>
                <string>{32,32}</string>
                <key>textureRect</key>
                <string>{{34,0},{32,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>moon.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{128,128}</string>
                <key>spriteSourceSize</key>
                <string>{128,128}</string>
                <key>textureRect</key>
                <string>{{583,0},{128,128}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>redBird1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,32}</string>
                <key>spriteSourceSize</key>
                <string>{32,32}</string>
                <key>textureRect</key>
                <string>{{66,0},{32,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>redBird2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,32}</string>
                <key>spriteSourceSize</key>
                <string>{32,32}</string>
                <key>textureRect</key>
                <string>{{258,0},{32,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>redBird3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,32}</string>
                <key>spriteSourceSize</key>
                <string>{32,32}</string>
                <key>textureRect</key>
                <string>{{162,0},{32,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>redBird4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,32}</string>
                <key>spriteSourceSize</key>
                <string>{32,32}</string>
                <key>textureRect</key>
                <string>{{194,0},{32,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sky.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1280,768}</string>
                <key>spriteSourceSize</key>
                <string>{1280,768}</string>
                <key>textureRect</key>
                <string>{{180,480},{1280,768}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skyline.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1726,480}</string>
                <key>spriteSourceSize</key>
                <string>{1726,480}</string>
                <key>textureRect</key>
                <string>{{1460,480},{1726,480}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>star1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,32}</string>
                <key>spriteSourceSize</key>
                <string>{32,32}</string>
                <key>textureRect</key>
                <string>{{322,0},{32,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>star2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,32}</string>
                <key>spriteSourceSize</key>
                <string>{32,32}</string>
                <key>textureRect</key>
                <string>{{130,0},{32,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>star3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,32}</string>
                <key>spriteSourceSize</key>
                <string>{32,32}</string>
                <key>textureRect</key>
                <string>{{98,0},{32,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>star4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,32}</string>
                <key>spriteSourceSize</key>
                <string>{32,32}</string>
                <key>textureRect</key>
                <string>{{2,0},{32,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>test00.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{180,340}</string>
                <key>spriteSourceSize</key>
                <string>{180,340}</string>
                <key>textureRect</key>
                <string>{{1070,140},{180,340}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>test04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{180,340}</string>
                <key>spriteSourceSize</key>
                <string>{180,340}</string>
                <key>textureRect</key>
                <string>{{1430,140},{180,340}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>test08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{180,340}</string>
                <key>spriteSourceSize</key>
                <string>{180,340}</string>
                <key>textureRect</key>
                <string>{{1250,140},{180,340}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>test12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{180,340}</string>
                <key>spriteSourceSize</key>
                <string>{180,340}</string>
                <key>textureRect</key>
                <string>{{890,140},{180,340}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>test16.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{180,340}</string>
                <key>spriteSourceSize</key>
                <string>{180,340}</string>
                <key>textureRect</key>
                <string>{{710,140},{180,340}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>test20.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{180,340}</string>
                <key>spriteSourceSize</key>
                <string>{180,340}</string>
                <key>textureRect</key>
                <string>{{350,140},{180,340}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>test24.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{180,340}</string>
                <key>spriteSourceSize</key>
                <string>{180,340}</string>
                <key>textureRect</key>
                <string>{{1610,140},{180,340}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>test28.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{180,340}</string>
                <key>spriteSourceSize</key>
                <string>{180,340}</string>
                <key>textureRect</key>
                <string>{{530,140},{180,340}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>test32.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{180,340}</string>
                <key>spriteSourceSize</key>
                <string>{180,340}</string>
                <key>textureRect</key>
                <string>{{1970,140},{180,340}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>test36.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{180,340}</string>
                <key>spriteSourceSize</key>
                <string>{180,340}</string>
                <key>textureRect</key>
                <string>{{2690,140},{180,340}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>test40.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{180,340}</string>
                <key>spriteSourceSize</key>
                <string>{180,340}</string>
                <key>textureRect</key>
                <string>{{3050,140},{180,340}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>test44.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{180,340}</string>
                <key>spriteSourceSize</key>
                <string>{180,340}</string>
                <key>textureRect</key>
                <string>{{0,480},{180,340}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>test48.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{180,340}</string>
                <key>spriteSourceSize</key>
                <string>{180,340}</string>
                <key>textureRect</key>
                <string>{{170,140},{180,340}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>test52.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{180,340}</string>
                <key>spriteSourceSize</key>
                <string>{180,340}</string>
                <key>textureRect</key>
                <string>{{2150,140},{180,340}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>test56.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{180,340}</string>
                <key>spriteSourceSize</key>
                <string>{180,340}</string>
                <key>textureRect</key>
                <string>{{2330,140},{180,340}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>test60.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{180,340}</string>
                <key>spriteSourceSize</key>
                <string>{180,340}</string>
                <key>textureRect</key>
                <string>{{2510,140},{180,340}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>test64.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{180,340}</string>
                <key>spriteSourceSize</key>
                <string>{180,340}</string>
                <key>textureRect</key>
                <string>{{1790,140},{180,340}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>test68.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{180,340}</string>
                <key>spriteSourceSize</key>
                <string>{180,340}</string>
                <key>textureRect</key>
                <string>{{2870,140},{180,340}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>testbow00.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{170,140}</string>
                <key>spriteSourceSize</key>
                <string>{170,140}</string>
                <key>textureRect</key>
                <string>{{2071,0},{170,140}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>testbow01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{170,140}</string>
                <key>spriteSourceSize</key>
                <string>{170,140}</string>
                <key>textureRect</key>
                <string>{{1391,0},{170,140}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>testbow02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{170,140}</string>
                <key>spriteSourceSize</key>
                <string>{170,140}</string>
                <key>textureRect</key>
                <string>{{1561,0},{170,140}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>testbow03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{170,140}</string>
                <key>spriteSourceSize</key>
                <string>{170,140}</string>
                <key>textureRect</key>
                <string>{{1051,0},{170,140}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>testbow04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{170,140}</string>
                <key>spriteSourceSize</key>
                <string>{170,140}</string>
                <key>textureRect</key>
                <string>{{711,0},{170,140}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>testbow05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{170,140}</string>
                <key>spriteSourceSize</key>
                <string>{170,140}</string>
                <key>textureRect</key>
                <string>{{881,0},{170,140}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>testbow06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{170,140}</string>
                <key>spriteSourceSize</key>
                <string>{170,140}</string>
                <key>textureRect</key>
                <string>{{1221,0},{170,140}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>testbow07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{170,140}</string>
                <key>spriteSourceSize</key>
                <string>{170,140}</string>
                <key>textureRect</key>
                <string>{{2241,0},{170,140}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>testbow08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{170,140}</string>
                <key>spriteSourceSize</key>
                <string>{170,140}</string>
                <key>textureRect</key>
                <string>{{2751,0},{170,140}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>testbow09.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{170,140}</string>
                <key>spriteSourceSize</key>
                <string>{170,140}</string>
                <key>textureRect</key>
                <string>{{2581,0},{170,140}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>testbow10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{170,140}</string>
                <key>spriteSourceSize</key>
                <string>{170,140}</string>
                <key>textureRect</key>
                <string>{{2921,0},{170,140}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>testbow11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{170,140}</string>
                <key>spriteSourceSize</key>
                <string>{170,140}</string>
                <key>textureRect</key>
                <string>{{2411,0},{170,140}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>testbow12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{170,140}</string>
                <key>spriteSourceSize</key>
                <string>{170,140}</string>
                <key>textureRect</key>
                <string>{{1731,0},{170,140}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>testbow13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{170,140}</string>
                <key>spriteSourceSize</key>
                <string>{170,140}</string>
                <key>textureRect</key>
                <string>{{1901,0},{170,140}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>testbow14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{170,140}</string>
                <key>spriteSourceSize</key>
                <string>{170,140}</string>
                <key>textureRect</key>
                <string>{{0,140},{170,140}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>allSprites.png</string>
            <key>size</key>
            <string>{3230,1248}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:47c455e33d37a17a5127529d04eedcf7:20c4f8800d99ff99991b8e96340d0efe:2492531ea9ed5fe0891d1276e8d71709$</string>
            <key>textureFileName</key>
            <string>allSprites.png</string>
        </dict>
    </dict>
</plist>
